---
---

<footer class="footer">
  <div class="footer-inner">
    <small class="copyright">&copy; 2026 Niigata Halal Food And Restaurant</small>
  </div>
</footer>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;
</style>