---
---

<header class="header">
  <div class="header-inner">
    <h1 class="header-logo">
      <a href="/" class="header-logo-link">
        Niigata Halal Food And Restaurant
      </a>
    </h1>
  </div>
</header>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;
</style>