---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
---

<section class="section">
  <div class="section-inner">
    <div class="section-title">
      <h2 class="title">Infomation</h2>
    </div>
    <div class="content">
      店舗名：Niigata Halal Food And Restaurant
      電話番号：070-2797-1885
      住所：〒950-0916 新潟市中央区米山4-21-18
      営業時間（平日）：   ランチ：11:00～15:00 ディナー：17:00～22:00
      営業時間（土日祝）：    ランチ：11:00～15:00 ディナー：17:00～22:30
      定休日：火曜日
      席数：26
    </div>
    <div class="map-wrap">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3147.99678674306!2d139.05755109999998!3d37.9071378!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff4c99f350afe85%3A0x1f0b2fcc922f236a!2z44CSOTUwLTA5MTYg5paw5r2f55yM5paw5r2f5biC5Lit5aSu5Yy657Gz5bGx77yU5LiB55uu77yS77yR4oiS77yR77yYIOa4oei-uuODk-ODqw!5e0!3m2!1sja!2sjp!4v1783482855992!5m2!1sja!2sjp" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;
</style>