---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components'
---

<section class="section">
  <div class="section-inner">
    <div class="section-title">
      <h2 class="title">Infomation</h2>
    </div>
    <div class="content">
      店舗名：Niigata Halal Food And Restaurant
      電話番号：070-2797-1885
      住所：〒950-0916 新潟市中央区米山4-21-18
      営業時間（平日）：   ランチ：11:00～15:00 ディナー：17:00～22:00
      営業時間（土日祝）：    ランチ：11:00～15:00 ディナー：17:00～22:30
      定休日：火曜日
      席数：26
    </div>
  </div>
</section>

<style lang="scss">
  @use '../styles/variables' as *;
  @use '../styles/mixins' as *;
</style>